<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Create Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input #username type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input #password type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Confirm Password</ion-label>
      <ion-input #rpassword type="password"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <ion-button block expand="full" (click)="registerUser()"
      >Register</ion-button
    >
  </div>
</ion-content>
